<div class="modal-header">
    <h4 class="modal-title pull-left">{{modalHeader}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalHide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 
  <form [formGroup]="newCategoryForm" class="app-new-category" (ngSubmit)="onSubmit()">
    <div class="modal-body">
 
        <div class="form-group">
 
            <input class="form-control" 
                placeholder="Ім'я категорії" 
                type="text" 
                name="name" 
                formControlName="name" 
                [ngClass]="{
                  'is-invalid': nameControl.invalid && isSubmit,
                  'is-valid': nameControl.valid && isSubmit
                }"
              >

              <div class="invalid-feedback" *ngIf="nameControl.errors && isSubmit">
                <span *ngIf="nameControl.errors.required">Це поле є обов'язковим.</span>
                <span *ngIf="nameControl.errors.minlength">Текст має мати більше ніж
                  {{nameControl.errors['minlength']['requiredLength']}} символи.</span>
              </div>
        </div>
    </div>
 
    <footer class=" modal-footer d-flex">
      <button class="btn btn-secondary" (click)="modalHide()" type="button">
        Cancel
      </button>
      <button class="btn btn-primary" (click)="onSubmit()" type="submit">
        Save
      </button>
    </footer>
 
  </form>
