<div class="modal-header">
    <h4 class="modal-title pull-left">{{modalHeader}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalHide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 
  <form [formGroup]="newDishForm" class="app-dish-category" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div class="form-group">

            <span class="form-input">
              <label for="name">Назва страви:</label>
 
              <input class="form-control" 
                type="text" 
                name="name" 
                formControlName="name" 
                id="name"
                [ngClass]="{
                  'is-invalid': nameControl.invalid && isSubmit,
                  'is-valid': nameControl.valid && isSubmit
                }"
              >
              <div class="invalid-feedback" *ngIf="nameControl.errors && isSubmit">
                <span *ngIf="nameControl.errors.required">Це поле є обов'язковим.</span>
                <span *ngIf="nameControl.errors.minlength">Текст має мати більше ніж
                  {{nameControl.errors['minlength']['requiredLength']}} символи.</span>
              </div>
            </span>

            <span class="form-input">
              <label for="img">Завантажити зображення:</label>
              <input class="form-control" 
                id="img" 
                type="text" 
                name="title" 
                formControlName="img" 
              >
            </span>

            <span class="form-input">
              <label for="price">Вартість страви:</label>
              <input class="form-control" 
                id="price" 
                type="text" 
                name="price" 
                formControlName="price" 
              >
            </span>

            <span class="form-input">
              <label for="weight">Вага страви:</label>
              <input class="form-control" 
                id="weight"
                type="text" 
                name="weight" 
                formControlName="weight" 
              >
            </span>

            <span class="form-input">
              <label for="descr">Опис страви:</label>
              <textarea
                class="form-control" 
                id="descr"
                type="text" 
                name="descr" 
                formControlName="descr"
              >
              </textarea>
            </span>

            <span class="form-input">
              <label for="categoryId">Категорія:</label>
              <input class="form-control" 
                id="categoryId" 
                type="text" 
                name="categoryId" 
                formControlName="categoryId" 
              >
            </span>
            
        </div>
    </div>
 
    <footer class=" modal-footer d-flex">
      <button class="btn btn-secondary" (click)="modalHide()" type="button">
        Cancel
      </button>
      <button class="btn btn-primary" (click)="onSubmit()" type="submit">
        Save
      </button>
    </footer>
 
  </form>
