.app-dish-category {
  padding-top: 20px;
  padding-bottom: 20px;

  footer {
    display: flex;
    justify-content: flex-end;
  }
}
.modal-title {
  color: #000;
}
.close {
  border: none;
  background: transparent;
  span {
    color: #1f1f1f;
  }
}

.form-input {
  display: block;
  margin-bottom: 20px;
  label {
    color: #1f1f1f;
    font-size: 14px;
  }
}

.invalid-feedback {
  span {
    color: red;
  }
}
.preview {
  position: relative;
  width: 140px;
  height: 100px;
}
.close__btn {
  position: absolute;
  border: none;
  color: #000;
  // border-radius: 100px;
  background-color: transparent;
}
