<div class="modal-header">
    <h4 class="modal-title pull-left">{{modalHeader}}</h4>
    <button type="button" class="close pull-right" aria-label="Close" (click)="modalHide()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
 
  <form [formGroup]="newDishForm" class="app-dish-category" (ngSubmit)="onSubmit()">
    <div class="modal-body">
        <div class="form-group">

            <span class="form-input">
              <label for="name">Назва страви:</label>
 
              <input class="form-control" 
                type="text" 
                name="name" 
                formControlName="name" 
                id="name"
                [ngClass]="{
                  'is-invalid': nameControl.invalid && (nameControl.dirty || nameControl.touched),
                  'is-valid': nameControl.valid && (nameControl.dirty || nameControl.touched)
                }"
              >
              <div class="invalid-feedback" *ngIf="nameControl.errors && (nameControl.dirty || nameControl.touched)">
                <span *ngIf="nameControl.errors.required">Це поле є обов'язковим.</span>
                <span *ngIf="nameControl.errors.minlength">Текст має мати більше ніж
                  {{nameControl.errors['minlength']['requiredLength']}} символи.</span>
              </div>
            </span>

            <span class="form-input" *ngIf="!preview">
              <label for="img">Завантажити зображення:</label>
              <input class="form-control" 
                id="img" 
                type="file" 
                name="img" 
                formControlName="img" 
                (change)="uploadFile($event)"
               
                [ngClass]="{
                  'is-invalid': imgControl.invalid && (imgControl.dirty || imgControl.touched),
                  'is-valid': imgControl.valid && (imgControl.dirty || imgControl.touched)
                }"
              >
              <div class="invalid-feedback" *ngIf="imgControl.errors && (imgControl.dirty || imgControl.touched)">
                <span *ngIf="imgControl.errors.required">Це поле є обов'язковим.</span>
              </div>
            </span>
            <span *ngIf="preview">
              <img class="preview" [src]="preview" alt="img" />
              <button
                type="button"
                class="close__btn"
                (click)="clearImage()"
              >
              &times;
              </button>

            </span>

            <span class="form-input">
              <label for="price">Вартість страви:</label>
              <input class="form-control" 
                id="price" 
                type="text" 
                name="price" 
                formControlName="price" 
                [ngClass]="{
                  'is-invalid': priceControl.invalid && (priceControl.dirty || priceControl.touched),
                  'is-valid': priceControl.valid && (priceControl.dirty || priceControl.touched)
                }"
              >
              <div class="invalid-feedback" *ngIf="priceControl.errors && (priceControl.dirty || priceControl.touched)">
                <span *ngIf="priceControl.errors.required">Це поле є обов'язковим.</span>
              </div>
            </span>

            <span class="form-input">
              <label for="weight">Вага страви:</label>
              <input class="form-control" 
                id="weight"
                type="text" 
                name="weight" 
                formControlName="weight" 
                [ngClass]="{
                  'is-invalid': weightControl.invalid && (weightControl.dirty || weightControl.touched),
                  'is-valid': weightControl.valid && (weightControl.dirty || weightControl.touched)
                }"
              >
              <div class="invalid-feedback" *ngIf="weightControl.errors && (weightControl.dirty || weightControl.touched)">
                <span *ngIf="weightControl.errors.required">Це поле є обов'язковим.</span>
              </div>
            </span>

            <span class="form-input">
              <label for="descr">Опис страви:</label>
              <textarea
                class="form-control" 
                id="descr"
                type="text" 
                name="descr" 
                formControlName="descr"
              >
              </textarea>
            </span>

            <span class="form-input">
              <label for="categoryId">Категорія:</label>
              <input class="form-control" 
                id="categoryId" 
                type="text" 
                name="categoryId" 
                formControlName="categoryId" 
                [ngClass]="{
                  'is-invalid': categoryIdControl.invalid && (categoryIdControl.dirty || categoryIdControl.touched),
                  'is-valid': categoryIdControl.valid && (categoryIdControl.dirty || categoryIdControl.touched)
                }"
              >
              <div class="invalid-feedback" *ngIf="categoryIdControl.errors && (categoryIdControl.dirty || categoryIdControl.touched)">
                <span *ngIf="categoryIdControl.errors.required">Це поле є обов'язковим.</span>
              </div>
            </span>
            
        </div>
    </div>
 
    <footer class=" modal-footer d-flex">
      <button class="btn btn-secondary" (click)="modalHide()" type="button">
        Cancel
      </button>
      <button class="btn btn-primary"  type="submit">
        Save
      </button>
    </footer>
 
  </form>
