
<app-header-admin></app-header-admin>

<main class="main">
    <div class="main__title">Меню</div>
   <div class="container">
        <ul class="categories__list " >
            <li class="categories__list_item "
            (click)="getDishesData()"
            >ВСІ</li>

            <li class="categories__list_item"
                *ngFor="let category of categoriesData"
                (click)="getDishesByCategory(category.id)"
                [class.active]="category.id === categoriesData.id"
            >
                {{category.name}}
                <button class="edit__btn" (click)="editCategory(category)"></button>
            </li>

            <li class="categories__list_item" 
                (click)="createNewCategory()"> 
                Додати категорію
            </li>
           
            <li class="categories__list_item"
            (click)="createNewDish()"
            >
                Додати нову страву
            </li>
        </ul>
   </div> 


    <div class="dishes container">
        <ul class="row dishes__list">
            <li class="dish col" *ngFor="let dish of dishesData" [dish]="dish" >
               <div class="btns">
                    <button class="btn edit"
                    (click)="editDish(dish)"
                    >
                        <img src="../../../assets/img/edit.png">
                    </button>
                    <button class="btn delete"
                        (click)="openModalForDeleteDish(template)"
                    >
                        <img src="../../../assets/img/delete.png">
                    </button>
               </div>

                <img class="dish__img" src="{{dish.img}}" alt="salad">
                <div class="dish__title">{{dish.name}}</div>
                
                <div class="dish__footer">
                    <div class="dish__descr">{{dish.descr}}</div>
                    <div class="dish__bottom">
                        <span class="dish__weigth">{{dish.weight}}</span>
                        <span class="dish__price">{{dish.price}}</span>
                    </div>
                </div>

                <ng-template #template >
                    <div class="modal-header" >
                      <h5 class="modal-title pull-left">Ви дійсно хочете видалити <span>"{{dish.name}}"</span>  ?</h5>
                      <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-footer">
                        <!-- <button (click)="click(dish)"></button> -->
                      <button (click)="deleteDish(dish.id)" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Yes</button>
                      <button (click)="modalRef.hide()" type="button" class="btn btn-secondary">No</button>
                    </div>
                </ng-template>
               
            </li>

        </ul>

    </div>
</main>

<app-scroll-top></app-scroll-top>

<app-footer-admin></app-footer-admin>
